- @followers.each do |follower|
  .follower-info
    = link_to  user_path(follower.id) do
      - if follower.image?
        %img.icon-image{ src: "#{follower.image}" }
      - else
        %image.icon-image{ src: "/assets/default_user.png"}
    = link_to "#{follower.name}", user_path(follower.id), class: "user_name"