.nav-bar{
  width: 100vw;
  height: 150px;
  background-color: lightgray;
  display: flex;
  position: relative;
  position: fixed;
  z-index: 500;
  .logo{
    line-height: 150px;
    margin-left: 40px;
    a{
      text-decoration: none;
      color: slategrey;
      padding: 20px 30px;
      border: 1px solid white;
      font-size: 40px;
    }
  }
  .menu{
    position: absolute;
    right: 20px;
    line-height: 150px;
    ul{
      display: flex;
      a{
        text-decoration: none;
        color: slategrey;
        margin-right: 40px;
      }
    }
    
  }
}