.header{
  width: 100%;
  height: 150px;
  
}

.wrapper{
  display: flex;
  width: 100vw;
  height: calc(100% - 150px);
  .side_bar{
    width: 30%;
    height: 100px;
    margin-top: 30px;
    .form{
      .input-content{
        display: block;
        width:80%;
        height: 200px;
        margin:0 auto 15px auto;
      }
      .category{
        display: block;
        margin:0 auto 15px auto;
        width:80%;
        text-align: center;
      }
      #post_category_id{
        display: block;
        margin:0 auto 15px auto;
        width:80%;
        height: 40px;
        text-align: center;
      }
      .send{
        display: block;
        width:80%;
        margin:0 auto ;
      }
    }
    .categories{
      text-align: center;
      margin-top: 50px;
      p{
        margin: 0 45px 20px 45px;
        padding-bottom: 10px;
        display: block;
        font-size: 30px;
        border-bottom: 5px solid gray;
      }
      .category{
        text-decoration: none;
        color: black;
        display: block;
        margin-bottom: 20px;
      }
    }
  }
  .all-posts{
    width: 70%;
    margin-top: 30px;
    .post{
      margin-top: 10px;
      height: 200px;
      width:80%;
      border: 1px solid lightgray;
      &__head{
        position: relative;
        .icon-image{
          height:50px;
        }
        .user_name{
          text-decoration: none;
          color: black;
          margin: 0 0 30px 10px;
          font-size: 20px;
        }
        .time{
          display: inline;
          position: absolute;
          right: 30px;
          top: 15px;
        }
      }
      &__content{
        position: relative;
        height: 150px;
        margin-top: 5px;
        .content{
          display: block;
          width: 100%;
          height: 100px;
          text-decoration: none;
          color: black;
        }
        &__bottom{
          position: absolute;
          bottom: 15px;
        }
      }
    }
  }
}
.post-show{
  position: relative;
  .post{
      margin-top: 10px;
      height: 200px;
      width:80%;
      border: 1px solid lightgray;
      &__head{
        position: relative;
        .icon-image{
          height:50px;
        }
        .user_name{
          text-decoration: none;
          color: black;
          margin: 0 0 30px 10px;
          font-size: 20px;
        }
        .time{
          display: inline;
          position: absolute;
          right: 30px;
          top: 15px;
        }
      }
      &__content{
        position: relative;
        height: 150px;
        margin-top: 5px;
        .content{
          display: block;
          width: 100%;
          height: 100px;
          text-decoration: none;
          color: black;
        }
        &__bottom{
          position: absolute;
          bottom: 15px;
        }
      }
  }
  .comment{
    width: 80%;
    margin-top: 10px;
    .comment__info{
      border: 1px solid gray;
      .icon-image{
        height: 50px;
      }
      .user_name{
        text-decoration: none;
        color: black;
      }
    }

  }
}

